/* Color Scheme */
.colors{
    background-color: #361d1c;
    background-color: #5e4342;
    background-color: #8e573b;
    background-color: #9b7360;
    background-color: #c2b2a0;
    background-color: #e1ddde;
}

.spinner-container {
    width:100%;
    height:85vh;
    
}

.spinner-container-circle {
    width:100px;
    height:100px;
    font-size: 100px;
    color: #361d1c;
}

/* Navbar */

.nav-background-color {
    background-color: 	#361d1c;
}

.nav-padding{
    padding-left:4%;
    padding-right:4%;
    padding-top:1%;
    padding-bottom:1%;
}

.dropdown-menu{
    background-color: #361d1c !important;
    border: none;
}

/* Footer */

.footer-container {
    background-color: #361d1c;
    color: white;
    padding:1%;
    text-align: center;
    position:fixed;
    bottom:0;
    width:100%;
}

.footer-container p{
    margin:0;
    font-size: 12px;
}

/* Register */

.register-container {
    background-image: url(../assets/register.jpg);
    height:100vh;
    margin:0;
    padding:2.5%;
    padding-top:02%;
}

.registration-title {
    text-align: center;
    font-size: calc(60% + .5vw + .5vh);
    color: #5e4342;
}

.register-card {
    width:35%;
    margin:auto;
    background-color: white;
    padding:1%;
}

.register-fields {
    padding:0%;
}

.register-form-control:focus {
    outline:none !important;
    border: 1px solid #5e4342 !important;
    background-color: #e1ddde;
}

.register-btn-container {
    text-align: right;
    padding-top:1%;
}

.register-button {
    background-color: #361d1c;
    border: 2px solid white;
    color: white;
    transition: 0.3s;
    outline: none !important;
    margin:auto;
    padding-left:3%;
    padding-right:3%;
    padding-top:2%;
    padding-bottom:2%;
}

.register-button-disabled {
    background-color: #361d1c;
    border: 2px solid white;
    color: white;
    transition: 0.3s;
    outline: none !important;
    margin:auto;
    padding-left:3%;
    padding-right:3%;
    padding-top:2%;
    padding-bottom:2%;
    opacity:.5;
}

/* login */

.login-container {
    background-image: url(../assets/login.jpg);
    height:90vh;
    margin:0;
    padding:10%;
}

.login-title {
    text-align: center;
    font-size: calc(100% + .8vw + .8vh);
    color: #5e4342;
}

.login-card {
    width:35%;
    margin:auto;
    background-color: white;
    padding:1%;
}

.login-fields {
    padding:1%;
}

.login-form-control:focus {
    outline:none !important;
    border: 1px solid #5e4342 !important;
    background-color: #e1ddde;
}

.login-btn-container {
    text-align: right;
    padding-top:1%;
}

.login-button {
    background-color: #361d1c;
    border: 2px solid white;
    color: white;
    transition: 0.3s;
    outline: none !important;
    margin:auto;
    padding-left:3%;
    padding-right:3%;
    padding-top:2%;
    padding-bottom:2%;
}

.login-button-disabled {
    background-color: #361d1c;
    border: 2px solid white;
    color: white;
    transition: 0.3s;
    outline: none !important;
    margin:auto;
    padding-left:3%;
    padding-right:3%;
    padding-top:2%;
    padding-bottom:2%;
    opacity:.5;
}

/* Error */

.error-image {
    padding:5%;
    background-image: url(../assets/error.jpg);
    background-repeat:no-repeat;
    color: #361d1c;
    height: 100vh;
}

.error-title-responsive {
    font-size: calc(100% + 3vw + 3vh);
}

.error-caption-responsive {
    font-size: calc(100% + .5vw + .5vh);
}

.error-caption-container {
    width:60%;
}

/* Jumbotron */

.banner-image {
    padding:5%;
    background-image: url(../assets/banner.jpg);
    background-repeat:no-repeat;
    color: white;
    height: 100vh;
}

.banner-title-responsive {
    font-size: calc(100% + 3vw + 3vh);
}

.banner-caption-responsive {
    font-size: calc(100% + .5vw + .5vh);
}

.banner-caption-container {
    width:60%;
}

.banner-button-container {
    text-align: left;
}

.banner-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: calc(100% + .4vw + .4vh);
    transition: 0.3s;
    outline: none !important;
    padding:.6%;
    margin-top:100%;
    text-decoration: none !important;
}

.banner-button:hover{
    background-color: #8e573b;
    border: 2px solid #8e573b;
    color: white;
}

/* Factors */

.factor-card {
    border: 0px;
}

.factor-card-container {
    margin-top:0%;
}

.factor-header {
    margin: 5%;
    margin-bottom:0;
    text-align: center;
}

.factor-header-text {
    margin: 5%;
    text-align: center;
    font-size: calc(100% + .6vw + .6vh);
    font-weight: bold;
    color: #361d1c;
}

.factor-image-container {
    width: 100%;
    margin-bottom: 10%;
    text-align: center;
}
.factor-image {
    margin-top:20%;
    width:50%;
}

.factor-title {
    font-size: calc(100% + .1vw + .1vh);
    font-weight: bold;
    text-align: center;
}

.factor-caption {
    font-size: calc(100% + .1vw + .1vh);
    text-align: justify;
}

/* About */
.about-image {
    padding:5%;
    background-image: url(../assets/about.jpg);
    background-repeat:no-repeat;
    color: white;
    height: 100vh;
}

.about-title-responsive {
    font-size: calc(100% + 2vw + 2vh);
    margin-top: 5%;
    text-align: center;
}

.about-caption-responsive {
    font-size: calc(100% + .5vw + .5vh);
}

.about-caption-container {
    width:100%;
    padding: 5%;

}

/* Catalogue */

/* Featured Product */

.catalogue-featured-image {
    padding:7%;
    padding-top:3%;
    background-image: url(../assets/catalogue.jpg);
    background-repeat:no-repeat;
    color: white;
    height: 100vh;
}

.catalogue-featured-title-responsive {
    font-size: calc(100% + 3vw + 3vh);
}

.catalogue-featured-caption-responsive {
    font-size: calc(100% + .2vw + .2vh);
}

.catalogue-featured-caption-container {
    width:100%;
}

.catalogue-featured-button-container {
    text-align: left;
}

.catalogue-featured-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: calc(100% + .4vw + .4vh);
    transition: 0.3s;
    outline: none !important;
    padding:1%;
    padding-left: 3%;
    padding-right: 3%;
    text-decoration: none;
}

.catalogue-featured-button:hover{
    background-color: #8e573b;
    border: 2px solid #8e573b;
    color:white;
}

.catalogue-featured-container {
    width:100%;
    text-align:center;
}
.catalogue-featured-img {
    width:60%;
}

/* Catalogue Cards */
.catalogue-main-card-container{
    margin-top: 5%;
    margin-bottom: 20%;
}
.catalogue-card-container {
    border: 0px !important;
    margin-top:20%;
}

.catalogue-card-img-container {
    text-align:center;
}

.catalogue-card-img {
    width:90%;
}

.catalogue-card-details-container {
    border-top: 1px solid #5e4342;
}

.catalogue-card-title {
    font-size: calc(100% + .3vw + .3vh);
    color: #5e4342;
}

.catalogue-card-category {
    font-size: calc(90% + .1vw + .1vh);
}

.catalogue-card-price {
    font-size: calc(90% + .1vw + .1vh);
}

.catalogue-card-button-container {
    text-align:center;
}

.catalogue-card-button {
    border: 2px solid #5e4342;
    padding-top:2%;
    padding-bottom:2%;
    color: #5e4342;
    text-decoration: none !important;
    transition: .3s;
    display:block;
}

.catalogue-card-button:hover {
    border: 2px solid #5e4342;
    color: #ffffff;
    background-color: #5e4342;
}

/* Specific product  */

.product-main-container{
    margin-top:5%;
    margin-bottom:20%;
    margin-left:5%;
    margin-right:5%;
}
.product-img-container{
    width:100%;
    text-align:center;
}

.product-img {
    width: 90%
}

.product-title {
    font-size: calc(100% + 1vw + 1vh);
    color: #5e4342;
}

.product-category {
    font-size: calc(100% + .5vw + .5vh);
}

.product-description {
    font-size: calc(100% + .1vw + .1vh);
}

.product-price {
    font-size: calc(100% + .2vw + .2vh);
    color: #5e4342;
}

.product-add {
    background-color: #5e4342;
    color:white;
    font-weight:bold;
}

.product-minus {
    background-color: #5e4342;
    color:white;
    font-weight:bold;
}

.product-quantity-field {
    width:20%;
}

.product-quantity-field:focus {
    outline: none !important;
    border: 1px solid #5e4342 !important;
    background-color: #e1ddde;
    outline: 0ps !important;  
}

.product-cart-button-container {
    padding-top: 4%;
}

.product-cart-button {
    background-color: white;
    border: 2px solid #5e4342;
    color: #5e4342;
    width:32%;
    transition:.3s;
    padding-top:1.5%;
    padding-bottom:1.5%;
}

.product-cart-button:hover {
    background-color: #5e4342;
    border: 2px solid #5e4342;
    color: white;
    width:32%
}

/* Cart */

.cart-empty-container {
    width:100%;
    text-align:center;
}

.cart-empty-img {
    width:20%;
    margin-top:5%;
}

.cart-container {
    margin-top:5%;
    margin-bottom: 20%;
    width:100%
}

.cart-table{
    width:100%;
}

.cart-title {
    color: #361d1c;
    text-align: center;
    margin-bottom:2%;
    font-size: calc(100% + .5vw + .5vh);
}

.cart-headers {
    background-color: #5e4342 !important;
    font-size: calc(90% + .1vw + .1vh);
    color:white;
}

.cart-product-name-cell {
    width:35%;
    font-size: calc(90% + .1vw + .1vh);
}

.cart-product-price-cell {
    width:20%;
    font-size: calc(90% + .1vw + .1vh);
}

.cart-product-quantity-cell {
    width:20%;
    font-size: calc(90% + .1vw + .1vh);
}

.cart-product-total-cell {
    width:20%;
    font-size: calc(90% + .1vw + .1vh);
}

.cart-product-remove-cell {
    width:5%;
    
}

.cart-qty-button-container {
    width:20%;
}

.cart-quantity-field {
    font-size: calc(90% + .1vw + .1vh);
}

.cart-qty-button {
    background-color: #5e4342;
    color:white;
    font-weight: bold;
    font-size: calc(60% + .1vw + .1vh);
}

.cart-qty-button:focus {
    background-color: #5e4342;
    color:white;
    font-weight: bold;
    font-size: calc(60% + .1vw + .1vh);
    outline: none ! important;
}

.cart-qty-button:hover {
    background-color: #5e4342;
    color:white;
    font-weight: bold;
    font-size: calc(60% + .1vw + .1vh);
    outline: none ! important
}

.cart-remove-item-button {
    font-size: calc(90% + .1vw + .1vh);
}

.cart-checkout-container {
    text-align:right;
    padding-left:70%;
}

.cart-checkout-group {
    width:50%
}

/* Order */

.order-main-container {
    width:100%;
    padding-top:3%;
    margin-bottom:20%
}

.react-tabs__tab {
    color: #5e4342 !important;
    font-size: calc(100% + .1vw + .1vh);
}

.order-cards-container {
    padding:5%;
}

.order-card-header {
    background-color: #5e4342;
    color:white;
    font-size: calc(70% + .1vw + .1vh);
}

.order-card-date {
    font-size: calc(70% + .1vw + .1vh);
}

.order-card-details {
    font-size: calc(70% + .1vw + .1vh);
}

/* Dashboard Product */

.dashboard-parent-container{
    margin-bottom: 20%;
}

.dashboard-product-add-button {
    background-color: #5e4342;
    font-size: calc(70% + .1vw + .1vh);
    border:2px solid #5e4342;
    color:white;
    padding-top:.7%;
    padding-bottom:.7%;
    padding-right:1%;
    padding-left:1%;
    transition: .3s;
    margin-top: 5%;
    margin-bottom: 2%;
}

.dashboard-product-add-button:hover {
    background-color: white;
    font-size: calc(70% + .1vw + .1vh);
    border:2px solid #5e4342;
    color: #5e4342;
}

.dashboard-product-table {
    width:100%;
}

.dashboard-product-table-headers {
    background-color: #5e4342 !important;
    font-size: calc(60% + .1vw + .1vh);
    color:white;
}

.dashboard-product-table-cells {
    font-size: calc(60% + .1vw + .1vh);
}

.cell-center {
    text-align: center;
}

.dashboard-active-button {
    background-color: #361d1c;
    border: 2px solid #361d1c;
    font-size: calc(80% + .1vw + .1vh);
    color:white;
    padding-top:7%;
    padding-bottom:7%;
    padding-right:7%;
    padding-left:7%;
}

.dashboard-inactive-button {
    background-color: #adadad;
    border: 2px solid #adadad;
    font-size: calc(80% + .1vw + .1vh);
    color:black;
    padding-top:7%;
    padding-bottom:7%;
    padding-right:7%;
    padding-left:7%;
}

.dashboard-update-button {
    background-color: white;
    border: 2px solid #361d1c;
    font-size: calc(80% + .1vw + .1vh);
    color: #361d1c;
    padding-top:7%;
    padding-bottom:7%;
    padding-right:7%;
    padding-left:7%;
}

.dashboard-orders-thead {
    font-size: calc(60% + .1vw + .1vh) !important;
}

.dashboard-orders-tbody {
    font-size: calc(60% + .1vw + .1vh) !important;
}

.dashboard-order-button {
    font-size: calc(80% + .1vw + .1vh) !important;
}

.dashboard-order-btn-container {
    text-align: center;
}







































/* Responsive */

@media only screen and (max-width: 1050px) {

    /* Register */

    .register-container {
        background-image: url(../assets/register.jpg);
        height:100vh;
        margin:0;
        padding:20%;
    }

    .registration-title {
        text-align: center;
        font-size: calc(100% + 1vw + 1vh);
        color: #5e4342;
    }

    .register-card {
        width:100%;
        margin:auto;
        background-color: white;
        padding:1%;
    }

    /* Login */

    .login-container {
        background-image: url(../assets/login.jpg);
        height:100vh;
        margin:0;
        padding-top:30%;
        padding-right:8%;
        padding-left:8%
    }
    
    .login-title {
        text-align: center;
        font-size: calc(100% + .8vw + .8vh);
        color: #5e4342;
    }
    
    .login-card {
        width:90%;
        margin:auto;
        background-color: white;
        padding:1%;
    }


    /* Error */

    .error-title-responsive {
        font-size: calc(100% + 3.5vw + 3.5vh);
        text-align: center;
        padding-top:20%;
    }

    .error-caption-responsive {
        font-size: calc(100% + .7vw + .7vh);
    }
    
    .error-caption-container {
        width:100%;
        text-align: center;
    }

    /* Jumbotron */

    .banner-title-responsive {
        font-size: calc(100% + 3.5vw + 3.5vh);
        text-align: center;
        padding-top:20%;
    }

    .banner-caption-responsive {
        font-size: calc(100% + .7vw + .7vh);
    }
    
    .banner-caption-container {
        width:100%;
        text-align: center;
    }

    .banner-button-container {
        text-align: center;
    }

    .banner-button {
        font-size: calc(100% + .8vw + .8vh);
        align-self: center;
    }

    /* Factors */

    .factor-card-container {
        margin-top:10%;
    }
    
    .factor-header {
        margin: 5%;
        margin-bottom:0;
        text-align: center;
    }
    
    .factor-header-text {
        margin: 5%;
        text-align: center;
        font-size: calc(100% + .8vw + .8vh);
        font-weight: bold;
        color: #361d1c;
    }
    
    .factor-image-container {
        width: 100%;
        margin-bottom: 10%;
        text-align: center;
    }
    .factor-image {
        margin-top:15%;
        width:80%;
    }
    
    .factor-title {
        font-size: calc(100% + .4vw + .4vh);
        font-weight: bold;
    }
    
    .factor-caption {
        font-size: calc(100% + .2vw + .2vh);
    }

    /* About */
    
    .about-title-responsive {
        font-size: calc(100% + 3vw + 3vh);
        margin-top: 20%;
        text-align: center;
    }
    
    .about-caption-responsive {
        font-size: calc(100% + .6vw + .6vh);
    }

    .about-caption-container {
        width:100%;
        padding: 5%;
        text-align: center;
    }

    /* Catalogue */

    /* Featured Product */

    .catalogue-featured-image {
        padding:7%;
        background-image: url(../assets/catalogue.jpg);
        background-repeat:no-repeat;
        color: white;
        height: 53vh;
    }

    .catalogue-featured-title-responsive {
        font-size: calc(100% + 2vw + 2vh);
    }

    .catalogue-featured-caption-responsive {
        font-size: calc(100% + .1vw + .1vh);
    }

    .catalogue-featured-img {
        width:100%;
    }

    /* Specific product  */

    .product-img {
        width: 55%
    }

    .product-cart-button {
        background-color: white;
        border: 2px solid #5e4342;
        color: #5e4342;
        width:32%;
        transition:.3s;
    }

    .product-cart-button:hover {
        background-color: #5e4342;
        border: 2px solid #5e4342;
        color: white;
        width:32%
    }

    /* Cart */

    .cart-empty-img {
        width:60%;
        margin-top:20%;
    }

    .cart-headers {
        background-color: #5e4342 !important;
        font-size: calc(90% + .1vw + .1vh);
        color:white;
    }
    
    .cart-product-name-cell {
        width:35%;
        font-size: calc(90% + .1vw + .1vh);
    }
    
    .cart-product-price-cell {
        width:20%;
        font-size: calc(90% + .1vw + .1vh);
    }
    
    .cart-product-quantity-cell {
        width:20%;
        font-size: calc(90% + .1vw + .1vh);
    }
    
    .cart-product-total-cell {
        width:20%;
        font-size: calc(90% + .1vw + .1vh);
    }

    .cart-quantity-field {
        font-size: calc(90% + .1vw + .1vh);
    }
    
    .cart-qty-button {
        background-color: #5e4342;
        color:white;
        font-weight: bold;
        font-size: calc(60% + .1vw + .1vh);
    }

    .cart-remove-item-button {
        font-size: calc(90% + .1vw + .1vh);
    }

}
























@media only screen and (max-width: 650px) {

    /* Register */

    .register-container {
        background-image: url(../assets/register.jpg);
        height:100vh;
        margin:0;
        padding:15%;
    }

    .registration-title {
        text-align: center;
        font-size: calc(100% + 1vw + 1vh);
        color: #5e4342;
    }

    .register-card {
        width:100%;
        margin:auto;
        background-color: white;
        padding:4%;
    }

    /* Login */

    .login-container {
        background-image: url(../assets/login.jpg);
        height:100vh;
        margin:0;
        padding-top:30%;
        padding-right:5%;
        padding-left:5%
    }
    
    .login-title {
        text-align: center;
        font-size: calc(100% + .8vw + .8vh);
        color: #5e4342;
    }
    
    .login-card {
        width:90%;
        margin:auto;
        background-color: white;
        padding:1%;
    }

    /* Error */

    .error-title-responsive {
        font-size: calc(100% + 2vw + 2vh);
        text-align: center;
        padding-top:20%;
    }

    .error-caption-responsive {
        font-size: calc(100% + .4vw + .4vh);
    }
    
    .error-caption-container {
        width:100%;
        text-align: center;
    }

    /* Jumbotron */

    .banner-title-responsive {
        font-size: calc(100% + 2vw + 2vh);
        text-align: center;
        padding-top:20%;
    }

    .banner-caption-responsive {
        font-size: calc(100% + .4vw + .4vh);
    }
    
    .banner-caption-container {
        width:100%;
        text-align: center;
    }

    .banner-button-container {
        text-align: center;
    }

    .banner-button {
        font-size: calc(100% + .6vw + .6vh);
        align-self: center;
    }
    
    /* Factors */

    .factor-card-container {
        margin-top:10%;
    }
    
    .factor-header {
        margin: 5%;
        margin-bottom:0;
        text-align: center;
    }
    
    .factor-header-text {
        margin: 5%;
        text-align: center;
        font-size: calc(100% + .8vw + .8vh);
        font-weight: bold;
        color: #361d1c;
    }
    
    .factor-image-container {
        width: 100%;
        margin-bottom: 10%;
        text-align: center;
    }

    .factor-image {
        margin-top:3%;
        width:40%;
    }
    
    .factor-title {
        font-size: calc(100% + .3vw + .3vh);
        font-weight: bold;
    }
    
    .factor-caption {
        font-size: calc(100% + .1vw + .1vh);
    }

    /* About */
    
    .about-title-responsive {
        font-size: calc(100% + 2vw + 2vh);
        margin-top: 20%;
        text-align: center;
    }
    
    .about-caption-responsive {
        font-size: calc(100% + .2vw + .2vh);
    }

    .about-caption-container {
        width:100%;
        padding: 5%;
        text-align: center;;
    }

    /* Catalogue */

    /* Featured Product */

    .catalogue-featured-image {
        padding:7%;
        background-image: url(../assets/catalogue.jpg);
        background-repeat:no-repeat;
        color: white;
        height: auto;
        text-align:center;
    }

    .catalogue-featured-title-responsive {
        font-size: calc(100% + 2vw + 2vh);
    }

    .catalogue-featured-caption-responsive {
        font-size: calc(100% + .1vw + .1vh);
    }

    .catalogue-featured-caption-container {
        width:100%;
    
    }

    .catalogue-featured-button-container {
        text-align: center;
    }

    .catalogue-featured-container {
        width:100%;
        text-align:center;
        margin-top:10%;
    }

    .catalogue-featured-img {
        width:100%;
    }

    /* Specific product  */

    .product-img {
        width: 50%
    }

    .product-title {
        font-size: calc(100% + .7vw + .7vh);
        color: #5e4342;
    }

    .product-category {
        font-size: calc(100% + .2vw + .2vh);
    }

    .product-description {
        font-size: calc(70% + .1vw + .1vh);
    }

    .product-price {
        font-size: calc(100% + .1vw + .1vh);
        color: #5e4342;
    }

    .product-quantity-field {
        width:100%;
    }

    .product-cart-button {
        background-color: white;
        border: 2px solid #5e4342;
        color: #5e4342;
        width:100%;
        transition:.3s;
    }

    .product-cart-button:hover {
        background-color: #5e4342;
        border: 2px solid #5e4342;
        color: white;
        width:100%
    }

    /* Cart */

    .cart-empty-img {
        width:60%;
        margin-top:35%;
    }

    .cart-headers {
        background-color: #5e4342 !important;
        font-size: calc(60% + .1vw + .1vh);
        color:white;
    }
    
    .cart-product-name-cell {
        width:35%;
        font-size: calc(60% + .1vw + .1vh);
    }
    
    .cart-product-price-cell {
        width:20%;
        font-size: calc(60% + .1vw + .1vh);
    }
    
    .cart-product-quantity-cell {
        width:20%;
        font-size: calc(60% + .1vw + .1vh);
    }
    
    .cart-product-total-cell {
        width:20%;
        font-size: calc(60% + .1vw + .1vh);
    }

    .cart-quantity-field {
        font-size: calc(80% + .1vw + .1vh) !important;
    }
    
    .cart-qty-button {
        display:none;
    }

    .cart-remove-item-button {
        font-size: calc(70% + .1vw + .1vh);
    }

    .cart-checkout-container {
        text-align:right;
        padding-left:0;
    }
    
    .cart-checkout-group {
        width:50%;
    }

    /* Orders */

    .react-tabs__tab {
        color: #5e4342 !important;
        font-size: calc(50% + .1vw + .1vh);
    }

    /* Dashboard Product */
   
    .dashboard-product-table-headers {
        background-color: #5e4342 !important;
        font-size: calc(40% + .1vw + .1vh);
        color:white;
    }
    
    .dashboard-product-table-cells {
        font-size: calc(40% + .1vw + .1vh);
    }
    
}